.navbar{
    /* After scroll color */
    /* background-color: #142e6c;  */
    /* #007aff */

    /* Before Scroll */
    background-color: #172f64;
    padding: 15px;
    color: white;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.navbar .nav-link{
    color: #ffffff80;
    font-size: 17px;
}

.navbar .nav-link:active, .navbar .nav-link:hover{
    color: #ffffff;
}

.navbar-toggler {
  border-color: #ffffff80;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .dropdown-toggle {
  color: #ffffff80 !important;
}

.navbar .dropdown-toggle:hover,
.navbar .dropdown-toggle:focus,
.navbar .show > .dropdown-toggle {
  color: #ffffff !important;
}

