.about-3{
    align-items: center;
    justify-content: center;
}

.about-3 .card{
    background-color: #f3f0f0;
    padding: 40px 15px;
}

.about-3 .card .card-title{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #2d465e;
    font-weight: bold;
    text-align:start;
}

.about-3 .card .card-text{
    color: #212529;
    font-size: 15px;
}

.about-3 .card .id{
    color: #559bcc;
    font-size: 24px;
    font-weight: bold;
}

.about-3 .card:hover{
    background-color: #559bcc;
}

.about-3 .card:hover .card-text{
    color: #ffffff;
}

.about-3 .card:hover .card-title{
    color: #ffffff;
}

@media only screen and (max-width: 770px){
.about-3{
    flex-wrap: wrap;
}
}

@media only screen and (max-width: 635px){
.about-3{
    flex-wrap: wrap;
}
}