.about-2{
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    width: 356px;
    padding: 20px;
}

.card .card-title{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #2d465e;
    font-weight: bold;
    text-align:start;
}

.card .card-text{
    color: #212529;
    font-size: 16px;
}

.card .about-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 770px){
.about-2 {
    flex-wrap: wrap;    
}
}